body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.App{
  display: flex;
  justify-content: space-around;
}
body {
  background-color: #171010;
  }

.block {
  background-color: #FFF8EA;
  padding: 20px;
  text-align: center;
  }

img{
  width: 500px;
  border: 1px solid #1A120B;
  height: 350px;
  }

.cartIcon{
  width: 50px;
  height: 50px;
  border: none;
}

.icon{
  width: 20px;
  height: 20px;
}

.categoryButtonSelected{
  background-color: #54B435;
}

.categoryButton:hover{
  background-color: #FFBF00;
  color: #1A120B;
}

.categoryButton{
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

p, h1, h2, button{
  font-size: 20px;
  color: #1A120B;
}
h3{
  color: #1A120B;
}

button{
  border: 1px solid #54B435;
  background-color: transparent;
  color: #1A120B;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}
button:hover{
  background-color:#54B435;
  border: 1px solid #1A120B;
  color:#FFF8EA;
}

.dltImg{
  width: 40px;
  height: 40px;
  border: none;
}
span{
  font-size: 30px;
  font-weight: bolder;
  color: #1A120B;
}




@media all and (max-width: 800px){
  img{
    width: 200px;
    height: 150px;
    }

  p, h1, h2, button{
      font-size: 10px;
      }

  .block {
      padding: 10px;
      }
  
  button{
  margin-top: 10px;
  }

  span{
      font-size: 12px;
  }

  h3{
      font-size: 13px;
  }
}